.carousel-inner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #000; /* asegura fondo negro y sin flashes blancos */
}


.carousel-caption-flex {
  display: flex;
  justify-content: center;  /* centra horizontal */
  align-items: center;      /* centra vertical */
  position: absolute;       /* igual necesitas ubicarlo sobre la imagen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;             /* ocupa todo el alto del contenedor */
  color: white;
  text-align: center;
}


