.header-absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}



.header-light a,
.header-light i,
.header-light .nav-link {
    color: white !important;
}

.header-dark a,
.header-dark i,
.header-dark .nav-link {
    color: black !important;
}

header {
    transition: color 0.5s ease, position 0.5s ease;
}

ul{
    margin: auto;
}
.logo{
 padding: 10px;
 
}

.logo img{
  cursor: pointer;
  height: 50px;
  width: auto;
  transition: all .3s ease-out;
 
}

.logo img:hover{
  transform: scale(1.2);
}


.logo-img {
    filter: blur(5px) brightness(0.2);
    transform: scale(1.3);
    opacity: 0;
    animation: reconstruir 2.5s ease-out forwards;
  }

  @keyframes reconstruir {
    0% {
      filter: blur(10px) brightness(1);
      transform: scale(1.3);
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      filter: blur(0) brightness(1);
      transform: scale(1);
      opacity: 1;
    }
  }


  .offcanvas-body{
    padding: 0;
    overflow: hidden;
  }
.custom-offcanvas {
  background: linear-gradient(180deg, #1a1a1a, #0d0d0d);
  color: #fff;
  box-shadow: -5px 0 20px rgba(0, 0, 0, 0.6);
}





/* Ajustes responsivos */
@media (max-width: 768px) {
    .header-left {
        gap: 1rem;
    }

    .logo-img {
        max-height: 30px;
    }

    .navbar-toggler i {
        font-size: 1.8rem;
    }
}