<header [ngClass]="{
  'header-absolute header-light': router.url === '/',
  'header-static header-dark': router.url !== '/'
}">    <div class="container d-flex justify-content-between align-items-center">

    <!-- Izquierda: redes sociales solo en desktop -->
    <div class="header-left d-none d-md-flex align-items-center gap-3 animate__animated animate__fadeIn animate__slower">
        <a href="#" class="text-white" target="_blank"><i class="bi bi-facebook fs-4"></i></a>
        <a href="#" class="text-white" target="_blank"><i class="bi bi-instagram fs-4"></i></a>
        <a href="#" class="text-white" target="_blank"><i class="bi bi-telephone fs-4"></i></a>
    </div>

    

    <!-- Logo -->
    <div class="logo order-md-0 order-1">
        <a routerLink="/">
            <img src="./assets/images/logoOsana.png "  alt="Logotipo Osana" class="logo-img ">
        </a>
    </div>

    <!-- Hamburguesa a la derecha -->
    <button class="navbar-toggler border-0 bg-transparent order-md-1 order-2 animate__animated animate__fadeIn animate__slower" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
        <i class="bi bi-list fs-1 text-white"></i>
    </button>
    <!-- Menú oculto que se despliega -->
   <!-- Menú oculto que se despliega -->
    <div class="offcanvas offcanvas-end custom-offcanvas" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close btn-close-white ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <osona-nav-links></osona-nav-links>
  </div>
</div>



</div>


    

</header>
