<div class="carousel slide carousel-fade animate__animated animate__fadeIn" >
    <div class="carousel-inner ">
        <div class=" carousel-item active">
            <img [src]="obra?.imagen" [alt]="obra?.titulo" class="d-block w-100"  >
            <div class="carousel-caption d-none d-md-block" style="position: absolute; top:60%; left: 50%; transform: translate(-50%, -50%);">
                <h1 style="font-size: 90px;">{{obra?.titulo}}</h1>
                <p>{{obra?.ano}}</p>
              </div>
        </div>
    </div>
</div>

<div class="container p-5">
    <div class="row">
        <div class="col-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque ea deserunt expedita eum harum neque maiores perspiciatis? Minus iure debitis qui voluptatem, veritatis saepe in maiores, voluptas amet nisi eaque.
            Recusandae maiores facere dolorum repellendus magnam ex fugiat dolores. Explicabo velit rerum in commodi! Commodi excepturi accusamus, repudiandae sunt alias, architecto qui doloribus quaerat, magnam voluptas voluptate rerum maxime tempore.
            Commodi sapiente consectetur tenetur animi vitae perferendis non ex harum repellendus obcaecati, asperiores eaque autem, accusantium recusandae veniam dolorum placeat mollitia debitis dolore culpa magnam aliquam sit maxime officia! Commodi!
            In error earum debitis totam impedit ex maxime vitae ad quis quod saepe ipsum voluptas explicabo iure eum, quasi rerum aspernatur eos sit dolore facere unde commodi nemo dolor? Et!
        </div>
    </div>
    <div class="row justify-content-end">
         <div class="col-6 ">
            <img [src]="obra?.imagen" style="width: 100%;">
        </div>  
    </div>
       

   
</div>

        