.card-container {
  position: relative; /* Asegura que los elementos hijos usen este como contenedor */
  overflow: hidden; /* Evita que elementos hijos desborden el contenedor */
}




@media (max-width: 575.98px) {
  .container-fluid{
    padding: 0 1rem;
  }
}

.card-img {
  transition: opacity 0.8s ease;
  width: 100%; /* Asegúrate de que la imagen ocupe todo el ancho */
  height: auto; /* Mantén las proporciones de la imagen */
}

.overlay-text {
  position: absolute;
  inset: 0; /* ocupa todo el contenedor */
  display: flex;
  flex-direction: column;
  justify-content: center; /* centra horizontal */
  text-align: center;    /* centra texto */
  color: #fff;
  padding: 12px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.6s ease;
  pointer-events: none;
}

.card-container:hover .overlay-text {
  opacity: 1;
}


.card-img {
  width: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}

.card-container:hover .card-img {
  filter: brightness(70%); /* 🔥 oscurece la imagen */
  transform: scale(1.03);
}



.options-bar {
  border-bottom: 1px solid #eee;
  padding-bottom: 0.8rem;
   margin: 4rem 0;
}

.option-item {
  cursor: pointer;
  font-weight: 500;
  color: #555;
  transition: color 0.3s ease;
  padding: 0.5rem 1rem;   /* más espacio interno */
  margin: 0 0.5rem;       /* margen entre opciones */
}

.option-item:hover {
  color: #000;
}

.option-item.active {
  color: #000;
  border-bottom: 2px solid #000;
}
