<div  class="animate-element  my-5" id="sobreNosotros"    #animElements >
    <section class=" container p-4 "  >
      <div class="row gap-5" >
        <div class="col ">
          <h2 style="font-size: 95px;">Fran Silvestre Arquitectos </h2> 
          <h4>Es un estudio de arquitectura y diseño con sede en Valencia, formado por un grupo multidisciplinar de profesionales, que realiza proyectos residenciales, culturales, corporativos y públicos a nivel nacional e internacional.</h4>
        
        </div>
        <div class="row">
          <div class="col-6">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eius quibusdam exercitationem itaque voluptate id porro dignissimos dolorum? Adipisci quidem quasi porro voluptatibus veritatis, harum maxime cupiditate suscipit libero excepturi.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eius quibusdam exercitationem itaque voluptate id porro dignissimos dolorum? Adipisci quidem quasi porro voluptatibus veritatis, harum maxime cupiditate suscipit libero excepturi.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eius quibusdam exercitationem itaque voluptate id porro dignissimos dolorum? Adipisci quidem quasi porro voluptatibus veritatis, harum maxime cupiditate suscipit libero excepturi.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eius quibusdam exercitationem itaque voluptate id porro dignissimos dolorum? 
              </p>
          </div>
          <div class="col-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis reprehenderit quo suscipit soluta atque blanditiis eum ab recusandae rerum. Quod assumenda doloribus suscipit tempore recusandae quos cupiditate iste maxime veritatis!
            Ut, assumenda! Aspernatur pariatur, unde, eligendi quidem provident libero natus voluptatum consectetur ipsa, dolorum nemo! Sint incidunt placeat labore vitae saepe non at, natus ex laboriosam, debitis consequatur iste odit?
            Laborum voluptas ipsum odit, doloribus ducimus dolore veritatis ad ullam deleniti quam fugit libero repellat. Minima quaerat ratione architecto, hic sint aliquam maiores exercitationem in quibusdam officiis ut necessitatibus sunt?
            Repellendus ipsum ut ratione, ea eos quidem, quia suscipit ullam aperiam quam culpa dolorem cum vel praesentium quibusdam unde recusandae tempore velit? Porro exercitationem accusamus omnis magni, quasi maxime quam.
          </div>
        </div>
       
      </div>
    </section>
    
  </div>