<div class="container">
    <div class="row">
        <div class="col-md-4 my-4  d-flex align-items-center flex-column" *ngFor="let servicio of listServicios">
            <div class="card" style="width: 22rem;border:1.5px  solid #000000;box-shadow:2px 2px 10px 2px  #e3e3e3cc ;">
              <img [src]="servicio.imagen" class="card-img-top" [alt]="servicio.nombre">
              <div class="card-body text-center">
                <h5 class="card-title">{{servicio.nombre}}</h5>
                <a href="#" class=" btn btn-dark " style="width: 260px;">Cotizar</a>
              </div>
            </div>
          </div>
    </div>
    
</div>

  