<div id="carouselExample" class=" carousel slide animate__animated animate__fadeIn " >
      <div class="carousel-inner carousel-fade ">
        <div class="carousel-item  active">
          <img src="./assets/images/casa7.jpeg" class="d-block w-100" alt="" >
          <div class="carousel-caption1 ">
              <div class="carousel-titulo animate__animated animate__backInLeft animate__fast text-center">
                <div class="my-5">
                  <img src="./assets/images/logo.png" style="height: 100%;">
                </div>
                <h4 style="color: #fffefe;">Diseñamos tus sueños</h4>
              </div>   
            </div>
          </div>
        <div class="carousel-item">
          <img src="./assets/images/casa2.webp" class="d-block w-100 " alt="">
          <div class="carousel-caption d-none d-md-block">
            <h1 class="animate__animated animate__backInLeft animate__fast " >Second slide label</h1>
            <div class=" animate__animated animate__backInRight animate__fast" >
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere aliquid necessitatibus quae expedita rerum animi quas eaque cum et eveniet. Id quibusdam exercitationem quaerat maxime, architecto quos minus fuga in?</p>

            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/images/casa3.webp" class="d-block w-100 " alt="">
          <div class="carousel-caption d-none d-md-block">
              <h1>Third slide label</h1>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et animi autem dolores ullam eveniet odio, assumenda iste rem natus rerum esse sequi nostrum quod itaque quae, voluptate repellat incidunt fugit?</p>
            </div>
          </div>
      </div>

      <button class="carousel-control-prev "  type="button" data-bs-target="#carouselExample"  data-bs-slide="prev">
        
        <span class=""><i class="fa-solid fa-chevron-right fa-rotate-180 fa-2xl"></i></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      
        <span class=""><i class="fa-solid fa-chevron-right fa-2xl"></i></span>
      </button>
</div>


<div  class="animate-element  my-5" id="sobreNosotros"    #animElements >
  <section class=" container p-4 "  >
    <div class="row gap-5" >
      <div class="col ">
        <h2 style="font-size: 95px;">Fran Silvestre Arquitectos </h2> 
        <h4>Es un estudio de arquitectura y diseño con sede en Valencia, formado por un grupo multidisciplinar de profesionales, que realiza proyectos residenciales, culturales, corporativos y públicos a nivel nacional e internacional.</h4>
      
      </div>
      <div class="row">
        <div class="col-6">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eius quibusdam exercitationem itaque voluptate id porro dignissimos dolorum? Adipisci quidem quasi porro voluptatibus veritatis, harum maxime cupiditate suscipit libero excepturi.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eius quibusdam exercitationem itaque voluptate id porro dignissimos dolorum? Adipisci quidem quasi porro voluptatibus veritatis, harum maxime cupiditate suscipit libero excepturi.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eius quibusdam exercitationem itaque voluptate id porro dignissimos dolorum? Adipisci quidem quasi porro voluptatibus veritatis, harum maxime cupiditate suscipit libero excepturi.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eius quibusdam exercitationem itaque voluptate id porro dignissimos dolorum? 
            </p>
        </div>
        <div class="col-6">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis reprehenderit quo suscipit soluta atque blanditiis eum ab recusandae rerum. Quod assumenda doloribus suscipit tempore recusandae quos cupiditate iste maxime veritatis!
          Ut, assumenda! Aspernatur pariatur, unde, eligendi quidem provident libero natus voluptatum consectetur ipsa, dolorum nemo! Sint incidunt placeat labore vitae saepe non at, natus ex laboriosam, debitis consequatur iste odit?
          Laborum voluptas ipsum odit, doloribus ducimus dolore veritatis ad ullam deleniti quam fugit libero repellat. Minima quaerat ratione architecto, hic sint aliquam maiores exercitationem in quibusdam officiis ut necessitatibus sunt?
          Repellendus ipsum ut ratione, ea eos quidem, quia suscipit ullam aperiam quam culpa dolorem cum vel praesentium quibusdam unde recusandae tempore velit? Porro exercitationem accusamus omnis magni, quasi maxime quam.
        </div>
      </div>
     
    </div>
  </section>
  
</div>

<div class="animate-element p-4 my-5" #animElements  style="background-color: #f8f6f6;background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShVqKPJU18BujmqG4PRsEzaFuqUuLwynzZAQ&s);color: #ffffff;">
  <section class="container   ">
    <div class="row ">
      <div class="col text-center">
        <h3 style="font-size: 95px;" >PROYECTOS</h3>
        <div > 
          <a href="proyectos" class="fa-solid fa-2xs" style="color: #000;font-size: 15px;">
            <i class="fa-solid fa-arrow-right-long fa-beat-fade fa-2xs" ></i>
            Ir a proyectos
          </a>
        </div>
       
        <osona-obras ></osona-obras>
      </div>
    </div>
  </section>
</div>
<div class=" animate-element " #animElements >
  <section class="container  p-4 ">
    <div class="row mt-5">
      <div class="col-6">
          <h3 style="font-size: 60px;">¿PORQUÉ OSANA?</h3>
          <p >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam, laborum! Ipsam dolorum nostrum aliquam nisi quidem voluptatibus minima corporis ratione necessitatibus quo. Labore velit rem, debitis sequi repellat maiores earum.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt dignissimos, quos saepe deleniti libero rem ex, numquam fugit voluptatibus mollitia qui! Ex nobis impedit omnis et distinctio quae quod earum?
          </p>
        </div>
      <div class="col-6">
        <iframe class="" id="youtube-video" width="100%" height="400" src="https://www.youtube.com/embed/-s0g9lFazpw?enablejsapi=1&controls=0&modestbranding=1&rel=0&showinfo=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen ></iframe>
      
      </div>
    </div>
  </section>
</div>


<div class="animate-element my-5" #animElements style="color: #ffffff;background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShVqKPJU18BujmqG4PRsEzaFuqUuLwynzZAQ&s);" >
  <section class="container my-5 p-4" >
    <h3 style="font-size: 60px;" class="text-center">NUESTROS SERVICIOS</h3>
    <div class="row my-5">
    <osana-servicios></osana-servicios>
    </div>
  </section>
</div>





  















  



